 <html>
 <head>
 <title> URL Shortener </title>
 <!-- bootstrap cdn for styling -->
 <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel = "stylesheet" integrity = "sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin = "anonymous">
     </head>
     <body>
     <p class="badge text-bg-primary text-wrap"> url shortener app </p>
     </body>
    </html>
